@use '../helpers' as *;

.product {
    
    &__item {
        display: flex;
        flex-direction: column;
        gap: fluid(40, 30);
        padding: fluid(80, 40);
        background-color: transparent;
        border-right: var(--border-alt);
        border-block: var(--border-alt);
    }

    &__button-center {
        @include flex-center;
    }

    &__button {
        display: flex;
        gap: rem(5);
        padding-bottom: rem(24);
        padding-inline: rem(40);
        width: fluid(264, 200);
        height: fluid(76, 66);
        margin-top: fluid(40, 30);

        & svg {
            width: rem(20);
            height: rem(20);

        }
    }
}