@use '../helpers' as *;

.product {
    
    &__item {
        display: flex;
        flex-direction: column;
        gap: fluid(40, 30);
        padding: fluid(80, 10);
        background-color: transparent;
        border-block: fluid(32, 20);
    }

    &__button-center {
        @include flex-center;
    }

    &__button {
        @include fluid-text(22, 15);
        display: flex;
        gap: rem(5);
        padding-bottom: rem(24);
        padding-inline: rem(40);
        width: fluid(264, 200);
        height: fluid(76, 50);
        margin-top: fluid(40, 30);

        & svg {
            width: rem(20);
            height: rem(20);

        }
    }
}