@use '../helpers' as *;
$width-item: rem(600);
.reviews {
    margin-top: fluid(80, 40);
    

    &__gradient {
        position: relative;
        display: flex;
    flex-direction: column;
    gap: rem(20);
      /* псевдоэлементы градиента */
        &::before,
        &::after {
            content: "";
            position: absolute;
            top: 0;
            width: 40%; /* ширина градиента */
            height: 100%;
            pointer-events: none;
            z-index: 5; /* поверх карточек */
        }

        &::before {
            left: 0;
            background: linear-gradient(to right, var(--color-dark) 0%, transparent 100%);
        }

        &::after {
            right: 0;
            background: linear-gradient(to left, var(--color-dark) 0%, transparent 100%);
        }
    }

    &__wrapper {
        display: flex;
        flex-direction: column;
        width: 100%;
        overflow-x: auto;
        //padding: 0 50px;
        scroll-snap-type: x mandatory;
        -webkit-overflow-scrolling: touch;
        scrollbar-width: none; /* Firefox */

        &::-webkit-scrollbar {
            display: none; /* Chrome, Safari */
        }

    }

    &__list {
        display: flex;
        gap: rem(20);
        width: max-content;
        padding: 0 rem(40);
        
    

        &--item {
            background-color: var(--color-dark);
            border-radius: rem(32);
            max-width: $width-item;
            flex-shrink: 0 0 $width-item;

            @include hover {
                transform: scale(1.05); // слегка увеличиваем карточку
                box-shadow: inset 4px 4px 12px rgba(0,0,0,0.6),
                inset -4px -4px 12px rgba(250,250,250,0.05);
            }

            @include mobile-s {
                max-width: rem(300);
            }
            

            &__text {
                background-color: rgba(255, 255, 255, 0.1);
                border-radius: rem(32);
                padding: fluid(28, 20);
            }

            &__container {
                display: flex;
                justify-content: space-between;
                padding: fluid(28, 20);
            }
            &__author {
                display: flex;
                gap: fluid(28, 10);
            }
        }

    }

    &__buttons {
        position: relative;
        margin-top: fluid(80, 40);
        margin-bottom: fluid(180, 50);
        &--title {
            position: absolute;
            top: -5%;
            left: 50%; 
            transform: translate(-50%, -50%);
            padding-inline: fluid(60, 30) ;
            background-color: var(--color-black);
        }
    }
    &__buttons-group {
        border-top: 1px dashed var(--color-accent);
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        padding-top: fluid(80, 40);

        

        &--button {
            padding-block: fluid(24, 15);
            padding-inline: fluid(50, 25);
            box-shadow: inset 4px 4px 8px rgba(0, 0, 0, 0.6),   /* тень внутрь */
                        inset -4px -4px 8px rgba(250, 250, 250, 0.05); /* свет сверху */
        }
    }

    &__form {
        @include flex-center;
        flex-direction: column;
        padding-block: fluid(100, 50);
        width: 100%;
        background:radial-gradient(ellipse at center, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100% ), url(/assets/images/oringe.jpg) ;
        background-size: cover;       /* картинка растягивается на весь контейнер */
        background-position: center;  /* центрирует картинку */
        background-repeat: no-repeat; /* чтобы не повторялась */

        &--title {
            text-align: center;
            margin-bottom: rem(24);
        }

        &--input {
            margin-block: fluid(40, 20);
            padding-block: fluid(24, 10);
            padding-inline: fluid(32, 20);
            box-sizing: border-box;
            

            &::placeholder {
                @include fluid-text(18, 15);
                text-align: start;
                
            }
        }

        &--button {
            color: var(--color-light);
            border: var(--border);
            padding: fluid(24, 20) fluid(40, 20);
        }
    }
}

.reviews__wrapper:nth-of-type(2) .reviews__list {
    margin-left: calc(#{$width-item} / 2 * -1) ;
}